<h2 class="tituloFormulario">Formulario de contacto</h2>
<div [ngStyle]="{
   'display': 'grid',
   'grid-template-columns': '1fr 1fr',
   'width': '270px'
}">
  <label for="nombre" class="txt_nombre">Nombre: </label>
  <input [ngStyle]="{'margin-bottom': '8px', 'border-color': nombre === '' ? 'red' : 'black'}" type="text"
    [(ngModel)]="nombre" />

  <label for="apellidos" class="txt_apellidos">Apellidos: </label>
  <input [ngStyle]="{'border-color': apellidos === '' ? 'red' : 'black', 'margin-bottom' : '8px' }" type="text"
    [(ngModel)]="apellidos" />

  <label for="asunto" class="txt_asunto">Asunto: </label>
  <input [ngStyle]="{'margin-bottom': '8px', 'border-color': asunto === '' ? 'red' : 'black'}" type="text"
    [(ngModel)]="asunto" />

</div>
<app-formulario-hijo [datosPadre]="nombre" *ngIf="muestraHijo"></app-formulario-hijo>
<p> El asunto es es: {{ asunto }} </p>


<h3>Formulario de acceso</h3>
<form method="post" [formGroup]="formAcceso">
  <div [ngStyle]="{
    'display': 'flex',
    'flex-direction': 'column',
    'width': '270px'
}">
    <input [ngStyle]="{'margin-bottom': '8px'}" type=" email" formControlName="email" placeholder="Inserte e.mail"
      [(ngModel)]="email" />
    <div *ngIf="validarDatos('email')">
      {{dimeMensaje('email')}}
    </div>
    <input [ngStyle]="{'margin-top': '8px'}" type="password" formControlName="password" placeholder="Inserte pass"
      [(ngModel)]="password" />
    <div *ngIf="validarDatos('password')">
      {{dimeMensaje('password')}}
    </div>
    <input [ngStyle]="{'margin-top': '8px'}" type="text" formControlName="telefono" placeholder="Inserte el telefono"
      [(ngModel)]="telefono" />

    <label [ngStyle]="{'margin-top': '8px'}" for="consulta">Motivo de la consulta:</label>
    <textarea [ngStyle]="{'margin-top': '8px' }" formControlName="consulta" [(ngModel)]="consulta"></textarea>
  </div>
</form>



<p *ngIf="mostrarMensaje('email')"> Tu correo es: {{ email }} </p>
<p *ngIf="mostrarMensaje('password')"> Tu contraseña es: {{ password }}</p>
<p> Tu teléfono es: {{ telefono }}</p>
