// colores

$negro: rgb(0, 0, 0);
$blanco: white;
$gris: grey;
$transparente: transparent;
$fondo-body-form: rgb(250, 195, 122);
$fondo-form: rgb(250, 227, 185);
$naranja: orange;
$tituloh6: rgb(100, 99, 99);
$sombra: rgb(134, 107, 31);
$contenido: rgb(163, 127, 79);
$placeHolder: #dadada;
$rojo: red;
$granate: #830c0cce;
$amarillo: yellow;
$purple: purple;
$azul: rgb(95, 159, 225);
$burguer: rgba(119, 117, 117, 0.5);
$item: #262525;

// botones
$btn-primary: rgb(0, 89, 253);
$btn-secondary: rgb(82, 142, 253);

// Fuentes
$font-body: sans-serif;
