//text colors
$text-black: #0f0f0f;
$text-black-2: #190f14;
$text-black-60: rgba(15, 15, 15, 0.6); //60% de #0f0f0f
$text-black-80: rgba(15, 15, 15, 0.8); //80% de #0f0f0f
$text-white: #fff;
$text-white-60: rgba(255, 255, 255, 0.6); //60% #fff;
$text-emerald: #00afac;
$text-gray: #ccc; // (204,204,204, 1)
$text-gray-2: #747468;
$text-gray-3: #e1d7cd;
$text-gray-4: #ece9e1;
$text-dark-gray: #33302e;
$text-orange: #ea5d1a;
$border-gray: #dedad4; //(222,218,212, 1)
$border-gray-2: #747468;
$border-gray-3: #e1d7cd;
$border-gray-4: #ece9e1;
$border-gray-5: #e6e6e6;
$border-black-2: #190f14;

/* Background-colors V3 */
$bg-red: #e63a2b;
$bg-red-2: #ec6b5f;
$bg-red-3: #f18c76;

$bg-orange: #ee7d05;
$bg-orange-2: #ed9551;
$bg-orange-3: #f8b877;
$bg-orange-4: #ea5d1a;

$bg-golden: #ded1a7;
$bg-yellow: #ffde4a;
$bg-yellow-2: #fcc446;

$bg-green: #84c497;
$bg-green-2: #b7d8aa;
$bg-green-3: #d8dc48;

$bg-olive: #809887;
$bg-olive-2: #a0caa1;
$bg-olive-3: #c6dfc6;

$bg-emerald: #00afac;
$bg-emerald-2: #8ececf;
$bg-emerald-3: #9fb9ae;

$bg-blue: #6baee0;
$bg-blue-2: #95c0d6;
$bg-gray: #dedad4;

$bg-violet: #cf7fa1;
$bg-violet-2: #b793a9;
$bg-violet-3: #d1b8c7;

$bg-gray-2: #9f948e;
$bg-brown: #d4af9c;
$bg-brown-2: #e8d0c1;

$bg-white: #fafaf9;
$bg-black: #0f0f0f;
$bg-pure-white: #fff;
$bg-pure-black: #000;

$bg-purple: #8d6b93;

/* background teaser */

$bg-teaser-gray: #f4f4f1;
$bg-teaser-gray-2: $bg-gray;
$bg-teaser-gray-3: #e8e6e3;

/* CTA colors */

$cta-orange: #ea5d1a;
$cta-orange-2: #f05028;
$cta-black: #0f0f0f;

$bg-gray-dark: #33302e;
$hover-gray-2: #6b6b6b;
$active-gray: #393634;
$border-gray-dark: #474543;
$border-gray-dark-2: #82807f;
$bg-gray-light: rgba(255, 255, 255, 0.6);
$text-tooltip-gray-60: rgba(51, 48, 46, 0.6);
$hover-gray-3: #f3f3f0;
$hover-gray-5: #f8f8f8;

/* Seat Base Colors */
$bg-body: $bg-white;

// media queries
$viewS: "(min-width: 320px)";
$viewM: "(min-width: 764px)";
$viewL: "(min-width: 1016px)";
$viewXL: "(min-width: 1436px)";
$viewXXL: "(min-width: 2540px)";
$viewStoM: "(min-width : 320px) and (max-width : 763px)";
$viewMtoL: "(min-width : 764px) and (max-width : 1015px)";
$viewLtoXL: "(min-width : 1016px) and (max-width : 1435px)";
$viewMtoXL: "(min-width : 764px) and (max-width : 1435px)";
$viewSmax: "(max-width : 763px)";
$viewMmax: "(max-width : 1015px)";
$viewLmax: "(max-width : 1435px)";
