a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.menu-items {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(224, 130, 84);
    font-weight: 700;
}