@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=The+Nautigal:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

html {
  min-height: 100%;
  position: relative; }

body {
  background-color: black;
  color: white;
  padding: 16px;
  text-align: justify;
  margin: 0;
  margin-bottom: 40px; }

.ingles,
.espanol {
  width: 32px;
  height: 20px;
  background-color: transparent; }

.header {
  background: black url(../../img/juegos-de-mesa.jpg) repeat center/cover; }

h1 {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  color: white;
  font-family: "The Nautigal", cursive;
  font-size: 50px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 80px; } }

li {
  list-style: none; }

#tituloGatos,
#tituloPocimas,
#tituloCastillos,
#enlaceReflexion,
.pagina404 {
  width: 100%;
  padding: 30px;
  font-size: 12px;
  color: #5f9fe1;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 768px) {
    #tituloGatos,
    #tituloPocimas,
    #tituloCastillos,
    #enlaceReflexion,
    .pagina404 {
      font-size: 24px; } }
  @media (min-width: 1024px) {
    #tituloGatos,
    #tituloPocimas,
    #tituloCastillos,
    #enlaceReflexion,
    .pagina404 {
      font-size: 32px; } }

.reflexion {
  margin-top: 32px; }

.piezasGatos {
  background: black url(../../img/La_Isla_Gatos/viewS/la_isla_de_los_gatos_detalle_piezas.jpg) repeat center/cover;
  width: 304px;
  height: 197px; }
  @media (min-width: 768px) {
    .piezasGatos {
      background: black url(../../img/La_Isla_Gatos/viewM/la_isla_de_los_gatos_detalle_piezas.jpg) repeat center/cover;
      width: 768px;
      height: 473px; } }
  @media (min-width: 1024px) {
    .piezasGatos {
      background: black url(../../img/La_Isla_Gatos/la_isla_de_los_gatos_detalle_piezas.jpg) repeat center/cover;
      width: 1200px;
      height: 739px; } }

.piezasPocimas {
  background: black url(../../img/Pocimas_Brebajes/viewS/pocimas_brebajes_detalle_caldero.jpg) repeat center/cover;
  width: 304px;
  height: 197px; }
  @media (min-width: 768px) {
    .piezasPocimas {
      background: black url(../../img/Pocimas_Brebajes/viewM/pocimas_brebajes_detalle_caldero.jpg) repeat center/cover;
      width: 768px;
      height: 473px; } }
  @media (min-width: 1024px) {
    .piezasPocimas {
      background: black url(../../img/Pocimas_Brebajes/pocimas_brebajes_detalle_caldero.jpg) repeat center/cover;
      width: 1200px;
      height: 739px; } }

.piezasCastillos {
  background: black url(../../img/Castillos_Borgona/viewS/the_castles_of_burgundy_detalle.jpg) repeat center/cover;
  width: 304px;
  height: 197px; }
  @media (min-width: 768px) {
    .piezasCastillos {
      background: black url(../../img/Castillos_Borgona/viewM/the_castles_of_burgundy_detalle.jpg) repeat center/cover;
      width: 768px;
      height: 473px; } }
  @media (min-width: 1024px) {
    .piezasCastillos {
      background: black url(../../img/Castillos_Borgona/the_castles_of_burgundy_detalle.jpg) repeat center/cover;
      width: 1200px;
      height: 739px; } }

.enlaces {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }

.piezas {
  padding-bottom: 16px; }

.introduccion {
  margin-bottom: 16px;
  color: #5f9fe1;
  margin-top: 16px;
  line-height: 16px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  @media (min-width: 768px) {
    .introduccion {
      width: 758px; } }
  @media (min-width: 1024px) {
    .introduccion {
      width: 1190px; } }

.zacatrus {
  width: 304px; }

.jugamosUna {
  width: 304px; }

.quintoElemento {
  width: 304px; }

.video {
  width: 304px;
  height: 170px; }
  @media (min-width: 768px) {
    .video {
      width: 480px;
      height: 480px; } }

.explicacion {
  font-size: 12px;
  line-height: 16px; }
  @media (min-width: 768px) {
    .explicacion {
      font-size: 16px;
      line-height: 20px; } }

.enlace {
  margin-bottom: 16px; }

.tituloIntroduccion,
.detalle,
.enlacesComprar,
.videoExplicativo {
  margin-bottom: 16px;
  text-decoration: underline; }

.articleGatos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px; }

.arriba menu {
  border: none; }
  @media (min-width: 768px) {
    .arriba menu {
      height: 50px;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: 1px solid white;
      background: transparent; }
      .arriba menu li a {
        cursor: pointer;
        text-decoration: none;
        color: red;
        font-size: 11px; }
        .arriba menu li a:hover {
          color: white; } }
    @media (min-width: 768px) and (min-width: 1024px) {
      .arriba menu li a {
        font-size: 16px; } }
  @media (min-width: 768px) {
        .arriba menu li a .active {
          color: white; } }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white; }
  .sticky menu li a:hover {
    color: black; }

.pocimas a {
  cursor: pointer;
  text-decoration: none;
  color: red;
  font-size: 1.05rem; }

aside {
  min-width: 170px;
  margin-right: 16px; }
  aside a {
    color: #830c0cce; }
  aside ul {
    padding-left: 0;
    text-align: center; }
  aside li {
    list-style-type: none;
    text-align: center; }

.main-section {
  width: 100%; }
  @media (min-width: 1024px) {
    .main-section {
      width: 700px; } }

.articulo .float .primero {
  color: yellow;
  margin-top: 20px;
  font-family: "Inconsolata", monospace; }
.articulo .float .segundo {
  color: red;
  margin-top: 20px;
  font-family: "Inconsolata", monospace; }
.articulo .float .tercero {
  color: #e9aae9;
  margin-top: 20px;
  font-family: "Inconsolata", monospace; }

.left {
  float: left;
  width: 180px;
  margin: 30px 16px 16px 0;
  box-shadow: 3px 3px 3px red; }
  .left:hover {
    filter: grayscale(80%); }

.main_inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px; }

address {
  height: 100px; }

.reloj {
  width: 100%;
  height: 100%; }
  @media (min-width: 768px) {
    .reloj {
      display: flex;
      align-items: center;
      justify-content: center; } }
  .reloj #relojMovimiento {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    font-size: 24px;
    border: none;
    margin-bottom: 16px; }
    @media (min-width: 768px) {
      .reloj #relojMovimiento {
        font-size: 48px;
        margin-bottom: 0; } }
  .reloj #formReloj {
    display: flex;
    align-items: center;
    justify-content: center; }

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white; }

@media (min-width: 1024px) {
  .grid-contenedor {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 4px;
    justify-content: center;
    align-items: center;
    width: 1200px; } }

.item {
  width: 304px;
  margin-bottom: 16px; }
  @media (min-width: 768px) {
    .item {
      width: 600px; } }

.dflex {
  display: flex;
  align-items: center;
  justify-content: center; }

@media (min-width: 768px) {
  .navbar {
    display: none; } }
@media (max-width: 767px) {
  .arriba {
    display: none; }

  .container {
    max-width: 1050px;
    width: 90%;
    margin: auto; }

  .navbar {
    width: 100%;
    background: black; }
    .navbar .menu-items {
      padding-top: 120px;
      width: 100%;
      height: 100vh;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -40px;
      padding-left: 50px;
      transition: transform 0.5s ease-in-out;
      text-align: center;
      background: #262525;
      margin-top: 600px; }
      .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500; }
    .navbar .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 62px; }
      .navbar .nav-container li {
        list-style: none; }
      .navbar .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0); }
      .navbar .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg); }
      .navbar .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0); }
      .navbar .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg); }
      .navbar .nav-container a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem; }
        .navbar .nav-container a:hover {
          font-weight: bolder; }

  .nav-container {
    display: block;
    position: relative;
    height: 60px; }
    .nav-container .checkbox {
      position: absolute;
      display: block;
      width: 32px;
      height: 32px;
      top: 20px;
      right: 0;
      z-index: 5;
      opacity: 0;
      cursor: pointer; }
    .nav-container .hamburger-lines {
      display: block;
      width: 32px;
      height: 26px;
      position: absolute;
      top: 17px;
      right: 0;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .nav-container .hamburger-lines .line {
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: white; }
      .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out; }
      .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out; }
      .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out; } }
.formulario {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.otros {
  margin-right: 20px; }

.tituloFormulario {
  padding: 16px;
  font-size: 32px; }
  @media (min-width: 768px) {
    .tituloFormulario {
      font-size: 40px; } }

.formulario-contenedor {
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px; }

.marco_form {
  width: 75%; }

.radioJuegos {
  display: flex;
  align-items: center;
  justify-content: center; }
  .radioJuegos .radioJugon {
    padding: 24px; }

input[type="radio"] {
  margin: 16px 16px 0; }

.checkbox-container input[type="checkbox"] {
  margin: 16px 16px 0; }

.checkbox-container {
  margin: 10px; }

.radioJugon,
.juegos-check {
  padding: 4px 20px 12px; }

.radio,
.radioJugon,
.juegos-check {
  width: 100%; }

#nombre,
#apellidos,
#jugadores {
  margin-left: 8px; }

#jugadores {
  width: 48%;
  height: 25px; }

.txt_nombre,
.txt_apellidos {
  font-size: 14px; }

.nombre,
.apellidos {
  width: 300px; }
  @media (min-width: 768px) {
    .nombre,
    .apellidos {
      width: 600px; } }

.select_jugadores {
  width: 300px; }
  @media (min-width: 768px) {
    .select_jugadores {
      width: 600px; } }

.labelJugadores {
  font-size: 12px;
  margin-right: 10px; }
  @media (min-width: 768px) {
    .labelJugadores {
      font-size: 19px; } }

#nombre,
#apellidos {
  width: 75%;
  height: 25px; }

.txt_nombre {
  margin-right: 7px; }

.botones {
  width: 75%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 32px; }
  .botones button {
    width: 40%;
    height: 50px;
    background: transparent;
    color: red;
    border: 1px solid white; }

.formGuardar {
  width: 300px;
  height: 50px;
  background: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px; }

.tituloPaginaEnlaces {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px; }

.listaPaginaEnlaces {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 32px; }

.texto {
  stroke: white;
  stroke-width: 1px;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  fill: transparent;
  animation: dash 5s 2s infinite forwards;
  font-family: "Pacifico", cursive; }

@keyframes dash {
  80% {
    fill: transparent; }
  100% {
    stroke-dashoffset: 0;
    fill: white; } }

/*# sourceMappingURL=styles.css.map */
